body {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Bitter', serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-areas:
        "nav nav"
        "header-container header-container"
        "aside main"
        "main2 main2"
        "footer footer";

    max-width: 1024px;
}

.grid-nav {
    grid-area: nav;
}

nav {
    display: flex;
    border: solid 1px rgb(197, 189, 189);
}

.header-container {
    grid-area: header-container;
}

aside {
    grid-area: aside;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;

}

main {
    grid-area: main;
    border-bottom: 1px solid grey;
}

footer {
    grid-area: footer;
}


nav,
header,
aside,
main,
.main2,
footer {
    /*     border: 1px solid black;
 */
}

aside img {
    width: 30px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

a:hover {
    text-decoration: underline;
}

.logo {
    animation: fade-in 5s ease-in;
    margin: 5px;
    padding-left: 5px;
    margin-top: 30px;
}

.navbar {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    font-weight: 800;

}

.navbar li {
    margin: 0 15px;
}

.hamburger {
    display: none;
    margin: 5px;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: rgba(63, 119, 84, 255)
}

aside h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-top: 40px;
}

aside p {
    margin: 10px;
    font-weight: 800;
    padding-left: 15px;
    padding-right: 15px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img:hover {
    animation: rotation infinite 2s linear;
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-family: 'Bitter', serif;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 40px;
    color: rgb(255, 252, 249);
}

.hero-image {
    background-image: url(images/hero-image.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -5px;
    position: relative;
    height: 300px;
    width: 600px;
}

.form-container {
    display: flex;
    justify-content: end;
    align-items: end;
}


.form {
    margin-right: 30px;
    margin-bottom: 21px;
}

input {
    height: 20px;
}

i.fa-solid.fa-magnifying-glass {
    padding-right: 5px;
    padding-left: 5px;
    color: rgb(12, 12, 12);
}

label {
    font-size: 18px;
}

input#textruta {
    margin-top: 10px;
}

button[type="submit"] {
    height: 20px;
}

button.submit {
    height: 24px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);

}

.main2 {
    grid-area: main2;
    background-color: rgb(221, 233, 222);

}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.card-container:hover {
    cursor: pointer;
    animation: bounce 0.5s forwards;
}


.card-container {
    border: 1px solid;
    width: 250px;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 4px rgb(23, 37, 25);
    background-color: rgba(63, 119, 84, 255);
    color: white;
    border: none;
   
}

.card-container img {
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom: 2px solid rgb(164, 194, 168);
}

.card-container h3 {
    margin: 0px 10px 10px 15px;
    padding-top: 10px;
    letter-spacing: 1px;
}

.card-container p {
    margin: 0px 10px 10px 15px;
    padding-bottom: 10px;
}

.timeline {
    width: 600px;
    height: 20px;
    list-style: none;
    text-align: justify;
    margin: 80px auto;
    padding: 0;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(45%, rgba(255, 255, 255, 0)), color-stop(51%, rgb(52, 77, 52)), color-stop(57%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgb(164, 194, 168) 51%, rgba(255, 255, 255, 0) 57%, rgba(255, 255, 255, 0) 100%);
}

.timeline:after {
    display: inline-block;
    content: "";
    width: 100%;
}

.timeline li {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: rgba(63, 119, 84, 255);
    text-align: center;
    line-height: 1.2;
    position: relative;
    border-radius: 50%;
}

.timeline li:hover {
    animation: pop-up 0.5s ease-in-out forwards;
    cursor: pointer;
}

.timeline li:before {
    display: inline-block;
    content: attr(data-year);
    font-size: 26px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.timeline li:nth-child(odd):before {
    top: -40px;
}

.timeline li:nth-child(even):before {
    bottom: -40px;
}

.timeline li:after {
    display: inline-block;
    content: attr(data-text);
    font-size: 16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.timeline li:nth-child(odd):after {
    bottom: 0;
    margin-bottom: -10px;
    transform: translate(-50%, 100%);
}

.timeline li:nth-child(even):after {
    top: 0;
    margin-top: -10px;
    transform: translate(-50%, -100%);
}

#bookForm img {
    width: 200px;
}

#bookForm button {
    width: 100px;
    height: 100px;
}

@keyframes fade-in {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes pop-up {

    0% {
        transform: scale(100%);
    }

    100% {
        transform: scale(150%);
    }

}

@keyframes bounce {
    100% {
        transform: translateY(-10px);
    }
}

@media screen and (max-width: 1024px) {
    .grid-container {
        display: grid;
        max-width: 768px;
        margin-right: 144px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "nav nav"
            "header-container header-container"
            "aside main"
            "main2 main2"
            "footer footer";

    }

    .hero-image {
        height: 364.91px;
    }

    aside h2 {
        margin-left: 20px;
    }

    .logo {
        padding-top: 25px;
        margin-right: 20px;
    }


    .timeline {
        width: 600px;
    }
}

@media (max-width: 920px) {
    .grid-container {
        display: grid;
        max-width: 400px;
        grid-template-columns: 1fr;
        grid-template-areas:
            'nav'
            'header-container'
            'main'
            'aside'
            'main2'
            'footer';
    }

    .timeline {
        width: 300px;
    }

    .hamburger {
        display: block;
    }

    .hamburger img {
        width: 30px;
    }

    .navbar {
        display: none;
    }

    .hero-image {
        width: 400px;
        height: 150px;
    }

    .cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .card-container p h2 {
        font-size: smaller;
    }

    .hero-image {
        width: 515px;
        background-position-y: -40px;
    }

    .logo {
        padding-bottom: 30px;
    }

}